<div class="container-fluid">
  <h1>Welcome to WhiteBoard</h1>

  <div class="row">
    <h5 class="col-1">
      <a routerLink="/home">Home</a>
    </h5>
    <h5 class="col-1">
      <a routerLink="/login">Login</a>
    </h5>
    <h5 class="col-1">
      <a routerLink="/register">Register</a>
    </h5>
    <h5 class="col-1">
      <a routerLink="/profile">Profile</a>
    </h5>
    <h5>
      <a class="logout" (click)="logout()">Logout</a>
    </h5>
  </div>
  <hr/>
  <app-cocourse-grid></app-cocourse-grid>
</div>







