
<div class="container-fluid row">
  <div class="col-2"></div>
  <div class="col-8 centerThis">
    <h1 class="profileHeader">Profile Page</h1>
    <a routerLink="/home">Home</a> |
    <a routerLink="/login">Login</a> |
    <a routerLink="/register">Register</a> |
    <a class="logout" (click)="logout()">Logout</a>
    <div class="row">
      <div class="col-2">
        <label>Username: </label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="username"
               class="form-control container-fluid"
               placeholder="username"/>

      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label>Password: </label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="password"
               class="form-control container-fluid"
               placeholder="password"/>


      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label>First Name: </label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="firstName"
               class="form-control container-fluid"
               placeholder="First Name"
        />


      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label>Last Name: </label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="lastName"
               class="form-control container-fluid"
               placeholder="Last Name"/>

      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label>Phone: </label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="phoneNumber"
               class="form-control container-fluid"
               placeholder="Phone Number"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label>Email: </label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="email"
               class="form-control container-fluid"
               placeholder="email"/>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label>Address: </label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="address"
               class="form-control container-fluid"
               placeholder="Address"/>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label>City: </label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="city"
               class="form-control container-fluid"
               placeholder="City"/>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label>State: </label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="state"
               class="form-control container-fluid"
               placeholder="State"/>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label>Zip Code: </label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="zip"
               class="form-control container-fluid"
               placeholder="zip"/>
      </div>
    </div>

    <div class="row">
      <div class="col-2">

      </div>
      <div class="col-10">
        <button (click)="update()"
                class="btn btn-primary btn-block">
          Update
        </button>
      </div>
    </div>


    <div class="col-2"></div>
  </div>


      <div class="col-2"></div>
      <div class="col-8 container-fluid">
        <br/>
        <h2 class="profileHeader centerThis">
          Sections You're Enrolled In:
          ({{sections.length}})</h2>

        <ul class="list-group">
          <li
            *ngFor="let section of sections"
            class="list-group-item">
            <div routerLink="/course/{{section.sectionId.courseId}}"
                 class="float-left">
              {{section.sectionId.name}}
            </div>
            <button
              class="float-right btn btn-danger"
              (click)="unenroll(section)">
              Un-enroll
            </button>
          </li>
        </ul>
        <div class="col-2"></div>
      </div>





</div>
